* {
    font-family: 'Raleway', 'Roboto', sans-serif;
}

.btn-primary, .btn-primary:visited {
    background-color: #DC7429 !important;
    border-color: #DC7429  !important;
    border-radius:10px;
}

.btn-primary:active, .btn-primary:hover {
    background-color: #a85214 !important;
    border-color: #a85214  !important;
}

.btn:focus{
    box-shadow:none !important;
}

.btn-login {
    border-radius:10px;
}

.btn-wide{
    min-width: 100%;
    width: 100%;
}


/* Dormfinder heading in navbar */
.text-style{
    font-weight: 500;
}

.text-style-brand {
    color: #DC7429 !important;
    font-weight: bold;
}

.nav-link {
    color: #000000 !important;
}

.main-header{
    margin-left: 50px;
    margin-right: 50px;
}

.headline {
    background-image: url(./resources/headline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:580px;
    /* background:#ccc; */
    margin:0 auto;
}

.headline-img{
    width: 100vw;
}

.carousel-headline {
    margin-bottom: 70px;
}

.marketing .col-md-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

.marketing h2 {
    font-weight: 400;
}

/* .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  } */

/* Establishment details font styles */
.detail-title-text{
    font-size:40px;
    font-weight: bold;
}

.detail-sub-text{
    font-size:18px;
    font-weight: normal;
}

.gallery-div{
    min-width: 400px;
    height: 250; 
    object-fit: cover;
    border-radius: 25px;
}

.gallery-img1{
    width: 700px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px 0 0px 25px;
}

.gallery-img2{
    width: 300px;
    max-height: 163px;
    object-fit: cover;
}

.card-establishment-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.login-title-text{
    font-weight: normal;
}

.marketing-text{
    font-size:15px;
}

.dormcard{
    min-width: 15rem;
}

.dorm-card-text{
    white-space: nowrap; 
    font-size:15px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: "100%";
}

.display-linebreak {
    white-space: pre-line;
  }

.nav-links {
    height: 100%;
}

.nav-links:hover {
    background-color:rgb(238, 238, 238); /*will change background-color of element on hover */
    color: white; /*will change color of text within the element on hover */
    border-radius: 2px;
}

.nav-links:active {
    font-weight: 'bold'
}

.review-date-text{
    font-size: 15px;
    font-weight: 100;
}

.review-score{
    /* font-size: 20px; */
    margin-top: 3px;
    margin-left: 30px;
    margin-right: 10px;
}

.sg-form-background{
    background-color: #e6e6e6 !important;
    border-color: #e6e6e6 !important;
    /* border: 0; */
}

.sg-form-background:active , .sg-form-background:focus{
    border-color: none !important;
    box-shadow: none !important;
}

.form-margins{
    margin-bottom: 30px;
}

.form-background:active, .form-background:focus{
    border-color: #DC7429 !important;
    box-shadow: 0 0 8px #DC7429 !important;
    outline: 0 none !important;
}

.reviews-text{
    margin-left: 55px;
    /* max-width: 950px !important; */
    font-size: 15px;
}

.star-ratings{
    margin-left: 13px;
    size: 1px !important;
}

.review-name { 
    font-size: 15px;
    margin-bottom: 2px;
    font-weight: bold;
}

.dormcard-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px !important;
}

.write-a-review{
    font-weight:700 !important;
    font-size: 17px;
    margin-left: 200px;
}

.image-modal{
    width: 100%;
    height: 100%;
}

.gallery-img{
    object-fit: cover !important;
}