/* * {
    font-family: 'Roboto', sans-serif;
} */

.btn-primary, .btn-primary:visited {
    background-color: #DC7429 !important;
    border-color: #DC7429  !important;
    border-radius:10px;
}

.btn-primary:active, .btn-primary:hover {
    background-color: #a85214 !important;
    border-color: #a85214  !important;
}

.btn:focus{
    box-shadow:none !important;
}

.btn-login {
    border-radius:10px;
}

.btn-wide{
    min-width: 100%;
    width: 100%;
}


/* Dormfinder heading in navbar */
.text-style{
    font-weight: 500;
}

.text-style-brand {
    color: #DC7429 !important;
    font-weight: bold;
}

.nav-link {
    color: #000000 !important;
}

.main-header{
    margin-left: 50px;
    margin-right: 50px;
}

.headline {
    background-image: url(./resources/headline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:580px;
    /* background:#ccc; */
    margin:0 auto;
}

.headline-img{
    width: 100vw;
}

.carousel-headline {
    margin-bottom: 70px;
}

.marketing .col-md-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

.marketing h2 {
    font-weight: 400;
}

/* .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  } */

/* Establishment details font styles */
.detail-title-text{
    font-size:40px;
    font-weight: bold;
}

.detail-sub-text{
    font-size:18px;
    font-weight: normal;
}

.gallery-div{
    min-width: 400px;
    height: 250; 
    object-fit: cover;
    border-radius: 25px;
}

.gallery-img1{
    width: 700px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px 0 0px 25px;
}

.gallery-img2{
    width: 300px;
    max-height: 163px;
    object-fit: cover;
}

.card-establishment-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* .row-bottom-margin { 
    margin-bottom:0px; 
} */

.login-title-text{
    font-weight: normal;
}

.marketing-text{
    font-size:15px;
}

.dormcard{
    min-width: 15rem;
}

.dorm-card-text{
    white-space: nowrap; 
    font-size:15px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: "100%";
}

.display-linebreak {
    white-space: pre-line;
  }

.nav-links {
    height: 100%;
}

.nav-links:hover {
    background-color:rgb(238, 238, 238); /*will change background-color of element on hover */
    color: white; /*will change color of text within the element on hover */
    border-radius: 2px;
}